<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Carrinho</title>
  <link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
</head>

<body>
  <div class="container center">
    {% for product in products %}
      <div class="product" data-id="{{ product.id }}">
        <img src="{{ product.image_url }}" alt="{{ product.name }}" />
        <p><strong>{{ product.name }} | {{ product.price }}</strong></p>
      </div>
    {% endfor %}
  </div>
</body>

</html>