{% extends "layouts/base.twig" %}

{% block content %}
{% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<div class="container center">
  <h1>{{ title }}</h1>
  <form method="POST" action="" name="form-name">
    <div class="form-group">
      <label for="name"></label>
      <input type="text" name="name" id="name" aria-label="name" placeholder="Nome" maxlength="255" value="{{ name }}"
        required />
    </div>

    <input type="hidden" name="_csrf" value="{{ csrf_token }}" required />
    <button class="btn" type="submit" name="btn-recover">Alterar</button>
  </form>
</div>

<script type="module" src="{{ constant('BASE_URL') }}assets/js/changeName/index.js"></script>
{% endblock %}
