{% extends "layouts/base.twig" %}

{% block content %}
{% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<div class="container center">
  <h1>{{ title }}</h1>
  <form method="POST" action="" name="form-email">
    <div class="form-group">
      <label for="email"></label>
      <input type="email" name="email" id="email" aria-label="email" placeholder="E-mail" maxlength="255"
        value="{{ email }}" required />
    </div>

    <input type="hidden" name="_csrf" value="{{ csrf_token }}" required />
    <button class="btn" type="submit" name="btn-recover">Alterar</button>
  </form>
</div>

<script type="module" src="{{ constant('BASE_URL') }}assets/js/changeEmail/index.js"></script>
{% endblock %}
