{% extends "layouts/base.twig" %}

{% block content %}
<div class="container center">
  <h1>{{ title }}</h1>

  <table>
    <thead>
      <th>Nome</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th>Total</th>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Valor total: <strong><span id="total-price">{{ total_price }}</span></strong></p>
</div>

{% endblock %}
