<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Produtos</title>
  <link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
  <style>
    .products-container {
      display: flex;

      justify-content: space-evenly;
    }
  </style>
</head>

<body>
  <div class="container products-container">
    {% for product in products %}
      <div>
        <img src="{{ product.image_url }}" alt="{{ product.name }}" />
        <p><strong>{{ product.name }} | {{ product.price }}</strong></p>
        <a href="#">Adicionar ao carrinho</a>
      </div>
    {% endfor %}
  </div>
</body>

<script type="module" src="{{ constant('BASE_URL') }}assets/js/account.js"></script>

</html>