{% extends "layouts/base.twig" %}

{% block content %}
<style>
  #go-to-cart {
    font-size: 1.5rem;
  }
</style>

<div class="container">
  <h1 class="center">{{ title }}</h1>

  {% if logged_in %}
  <a id="go-to-cart" href="#">Ir para o carrinho</a>
  {% endif %}
  <div class="products-container mt-10">
    {% for product in products %}
    <div class="product" data-id="{{ product.id }}">
      <img src="{{ product.image_url }}" alt="{{ product.name }}" />
      <p><strong>{{ product.name }} | {{ product.price }}</strong></p>
      {% if logged_in %}
        {% if cart['products'][product.id] %}
        <p class="highlight-success">Adicionado</p>
        {% else %}
        <a href="#">Adicionar ao carrinho</a>
        {% endif %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script type="module" src="{{ constant('BASE_URL') }}assets/js/products/index.js"></script>
{% endblock %}
